---
import BaseLayout from '../layouts/BaseLayout.astro';
import HomeHero from '../components/HomeHero.astro';
import FeaturedEvent from '../components/FeaturedEvent.astro';
import InstagramSection from '../components/InstagramSection.astro';
---
<BaseLayout title="Home">
  <HomeHero />
  <FeaturedEvent />
  <div class="hairline"></div>
  <InstagramSection />
</BaseLayout>
